.about_info_main{
 /* background-image: url(../../Assets/BackgroundImage/Globe.png); */
  background-repeat: no-repeat;
  background-position: right;
}

.about_info {
  width: 1200px;
  margin: auto;
  display: flex;
  padding: 5em 0em 10em 0em;
}

.about_info_right {
  width: 43em;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin-left: 30px;
}

.about_info_head {
  color: #092e69;
  font-weight: bold !important;
}

.about_info_title {
  color: #3d3d3d;
  font-weight: bold !important;
  width: 15em;
}

.about_info_description {
  color: #606060;
}

.about_navigation {
  color: white;
  background-color: #123962;
  padding: 10px 15px;
  border-radius: 10px;
  width: 7em;
}

@media (max-width: 1200px) {
  .about_info {
    width: 1000px;
  }

  .about_info_right {
    width: 30em;
  }
}

@media (max-width: 1000px) {
  .about_info {
    width: 700px;
    flex-direction: column;
    align-items: center;
  }
  .about_info_left{
    margin-bottom: 3em;
  }
}

@media (max-width: 700px) {
.about_info {
    width: 450px;
  }
}

@media (max-width: 550px) {
.about_info {
    width: 400px;
    align-items: center;
  }
  .about_info_title{
    width: 400px;
  }
  .about_info_right {
    width: 400px;
  }
}

@media(max-width: 430px){
  .about_info {
    width: 300px;
  }
  .about_info_title{
    width: 300px;
  }
  .about_info_right {
    width: 300px;
  }
}

@media(max-width: 350px){
  .about_info {
    width: 250px;
  }
  .about_info_title{
    width: 250px;
  }
  .about_info_right {
    width: 250px;
  }
}

@media(max-width: 300px){
  .about_info_main{
    background: none;
  }

   .about_info {
    width: 180px;
  }
  .about_info_title{
    width: 180px;
  }
  .about_info_right {
    width: 180px;
  }
}

@media(max-width: 240px){
  .about_info_main{
    background: none;
  }

   .about_info {
    width: 180px;
  }
  .about_info_title{
    width: 180px;
    font-size: 25px;

  }
  .about_info_right {
    width: 180px;
    font-size: 25px;
  }
}

@media(max-width: 220px){
   .about_info {
    align-items: self-end;
  }
}